<!-- @author: Edison Sanchez -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img
      src="https://assets-global.website-files.com/5bcb5ee81fb2091a2ec550c7/5dedd7b85049677d981db611_5c65f4ae2f71d67d0ee9f032_hero-image.png"
    >
    </ion-img>
    <ion-card-header>
      <ion-card-title>
        Aprendiendo IONIC 6
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img
      src="https://assets-global.website-files.com/5bcb5ee81fb2091a2ec550c7/5dedd7b85049677d981db611_5c65f4ae2f71d67d0ee9f032_hero-image.png"
    >
    </ion-img>
    <ion-card-header>
      <ion-card-title>
        Aprendiendo IONIC 6
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img
      src="https://assets-global.website-files.com/5bcb5ee81fb2091a2ec550c7/5dedd7b85049677d981db611_5c65f4ae2f71d67d0ee9f032_hero-image.png"
    >
    </ion-img>
    <ion-card-header>
      <ion-card-title>
        Aprendiendo IONIC 6
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
